.banner {
  padding-bottom: 1rem;
  background: linear-gradient(130deg, rgb(208, 116, 251), rgb(156, 64, 248), rgb(210, 17, 249), rgb(132, 2, 207));
  border-bottom: 10px solid rgb(125, 9, 171);
}

.banner img {
  width: 100%;
  box-sizing: border-box;
  border-radius: 10rem;
  padding: 1rem;

}