.banner {
  padding-bottom: 1rem;
  background: linear-gradient(100deg, rgb(81, 0, 122), rgb(115, 0, 173), rgb(255, 255, 255));
  border-bottom: 10px solid rgb(125, 9, 171);
}

.banner img {
  width: 100%;
  box-sizing: border-box;
  border-radius: 10rem;
  padding: 1rem;

}