.header-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;

  justify-content: space-around;
  align-items: center;
  background: linear-gradient(130deg, rgb(208, 116, 251), rgb(156, 64, 248), rgb(210, 17, 249), rgb(132, 2, 207));
  border-bottom: 10px solid rgb(125, 9, 171);
}

.options {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 0.75rem auto;

}

.menu {
  text-transform: uppercase;
  display: flex;
  gap: 1.25rem;
  padding: 1rem;
  border-bottom: 8px solid rgb(212, 66, 3);
  border-right: 8px solid rgb(154, 49, 3);
  border-top: 4px solid rgb(129, 43, 6);
  border-left: 2px solid rgb(66, 22, 3);
  border-radius: 30px;
  margin: 20px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.75);
  max-width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
  background: linear-gradient(130deg, rgb(255, 255, 255), rgb(249, 146, 101));
}

.menu a,
.options a {
  color: black;
  font-size: 1.5rem;
  padding: 0.75rem 1.75rem;
  text-decoration: none;
  background-color: rgb(245, 84, 14);
  border: 1px solid black;
  border-radius: 1rem;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
  border-bottom: 3px groove rgb(245, 136, 90);
  border-right: 3px groove rgb(239, 152, 115);
  letter-spacing: 1.5px;
}

.options a {
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
}

.menu a:hover,
.options a:hover {
  color: black;
  border-bottom: 3px groove rgb(67, 67, 67);
  box-shadow: 2px 2px 6px rgb(69, 69, 69);
  background-color: rgb(248, 103, 40);
}

.menu button {
  padding: 1rem;
  border-radius: 99px;
  background: rgb(255, 255, 255);
}

.menu button:hover {
  background: linear-gradient(90deg, white, black);
}